

.nav-bar{
    width: 1600px;
    height: 92px;
    background-color: #ffffff;
    padding: 16px 120px 16px 120px;
    display: flex;
    gap: 324px;
    text-align: center;
}

                        

.ld{ 
display: flex;
text-align: center;
list-style-type: none;
align-items: center;
text-decoration: none;
gap: 32px;
height: 24;
width: 364;
}
nav ul li a {
    text-decoration: none;
}
.btn{
    background-color: #30b868;
    border-radius: 4px;
    height: 44px;
    width: 164px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 12px 16px;
}

.background {
    background: url(../B13-A01-Knowledge-Vault/assets/hero-bg.png);
    width: 2042px;
    height: 1363px;
}
.box{
    width: 229px;
    height: 35px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 6px;
    padding: 8px 12px;
    border-radius: 1000px;
    background-color: #ffffff;
    align-items: center;display: flex;
}
.text{
    width: 183px;
    height: 19px;
    font-size: 16px;
    font-style: medium;
    text-align: center;
    font-weight: 500px;
    color: #30b868;


}
.dot{
    width: 16px ;
    height: 16px;
    border-radius: 8px;
    display: block;
    color: #30b868;
    font-weight: 900;
    
}
.text-1{
    font-style: bold;
    font-size: 72px;
    font-weight: 700px;
    line-height: 84;
    text-align: center;
}
.a{
    color: #ffffff;
}
.b{
    color: #30b868;
}
.c{
    height: 60;
    width: 1360;
    color: #ffffff;
    font-size: 18px;
    font-weight: 400px;
    text-align: center;
    line-height: 24px;
}